@import "normalize.css";

/*
  在普通的CSS中，我们也可以定义变量，使用--xx的形式，然后使用val()引用变量
  当然，如果使用less的话，就更加的简洁了
*/
:root {
  --color-text: #666;
  --color-high-text: #ff5777;
  --color-tint: #ff8198;
  --color-background: #ffffff;
  --font-size: 14px;
  --line-height: 1.5;
  --letter-spacing: 3px;
}

/*定义一些项目通用的CSS样式*/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Moe-Mashiro','Merriweather Sans',Helvetica,Tahoma,Arial,'PingFang SC','Hiragino Sans GB','Microsoft Yahei','WenQuanYi Micro Hei',sans-serif;
  /*font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;*/
  user-select: none; /* 禁止用户鼠标在页面上选中文字/图片等 */
  -webkit-tap-highlight-color: transparent; /* webkit是苹果浏览器引擎，tap点击，highlight背景高亮，color颜色，颜色用数值调节 */
  /*background: var(--color-background);*/
  /*background-image: url("../img/bodybg.png");*/
  color: var(--color-text);
  /*background-image: url("../img/themebg/point.png");*/
  /* rem vw/vh */
  /*width: 100vw;*/
  font-size: 14px;
}

a {
  color: var(--color-text);
  text-decoration: none;
}

html, body {
  height: 100%;
  width: 100%;
}

/*清楚浮动*/
.clear-fix::after {
  clear: both;
  content: '';
  display: block;
  width: 0;
  height: 0;
  visibility: hidden;
}

.clear-fix {
  zoom: 1;
}

.left {
  float: left;
}

.right {
  float: right;
}

::-webkit-scrollbar {
  width: 8px;
} /* 这是针对缺省样式 (必须的) */

::-webkit-scrollbar-track {
  background-color: #ffffff;
} /* 滚动条的滑轨背景颜色 */

::-webkit-scrollbar-thumb {
  background-color: #ff9600;
} /* 滑块颜色 */

::-webkit-scrollbar-button {
  /*background-color: #efefef;*/
  display: none;
} /* 滑轨两头的监听按钮颜色 */

::-webkit-scrollbar-corner {
  background-color: #efefef;
} /* 横向滚动条和纵向滚动条相交处尖角的颜色 */

::selection {
  background-color: #20a0ff;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0,0,0,.2);
}

span {
  outline: none;
}

/*pre {*/
/*  background:rgb(33, 37, 43);;*/
/*  color: #ffffff;*/
/*  margin: 20px 0;*/
/*  border-radius: 8px;*/
/*  overflow: hidden;*/
/*  box-shadow: rgba(0, 0, 0, 0.4) 0 10px 30px 0;*/
/*}*/

/*pre code {*/
/*  display: inline-block;*/
/*  width: 100%;*/
/*  height: 100%;*/
/*  padding: 8px;*/
/*}*/